:root {
  // Colores
  --modal-text-color: #8C8C8C;
  --error-color: #FF001B;
  --grey-text-color:#545454;;
  --title-color: #000000;
  --subtitle-color: #FF6B08;
  --white-color: #ffffff;
  --main-button-background: #FF6B08;;
  --next-arrow-background: #F7F7F7;



  // Tamaño de fuentes
  --title-font-size: 30px;
  --subtitle-font-size: 14px;
  --paragraph-font-size: 12px;
}