

.main {
	margin: auto;
	padding: 60px 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;

	&__filtros {
		display: flex;
		gap: 10px;
	}

	&__grid {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(7, 1fr);
	}

	&__media-titulo {
		font-weight: 600;
	}

	&__media-fecha {
		font-size: 14px;
	}

	&__media-img {
		width: 100%;
		vertical-align: top;
		border-radius: 10px;
		margin-bottom: 10px;
		background: red;
		min-height: 170px;
	}

	&__paginacion {
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}